@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow);

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}



/*
 * Globals
 */




/* Links */
a,
a:focus,
a:hover{
  color: #fff;
    
}
/*logga */
.image {
    text-align: center;
    margin-top: 15em;
    
}

/*låda  */
.nav  {
    border-style: solid;
    border-color: #555;
    background-color:#555;
    width: 50em;
    height: 4em;
    margin: 0 auto;
    
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
    border-radius: 0;
  
}

/*
 * Cover
 */

.cover {
  margin-top: 14em;
    
    
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
    
}

.masthead-nav > li {
  display: inline-block;
    
}
.masthead-nav > li + li {
  margin-left: 20px;
    
}
.masthead-nav > li > a {
  padding-right: 1em;
  padding-left: 1em;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color:lightgray;
  border-bottom: 2px solid transparent;
    
}
/*colors in meny */
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
    color:white;
}

.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus{
  color: white;
}

.masthead-nav > .active >a {
    position: static;
}

/* change meny position */
@media (min-width: 768px) {
  .masthead-brand {
    float: center;
  }
  .masthead-nav {
    float: center;
  }
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
    background-color: lightgrey;
    
    overflow-x:hidden;
    

  
   
}
body {
  
  text-align: center;
  text-shadow: 0 0px 0px rgba(0,0,0,.5);
    font-family: 'Pragati Narrow', sans-serif;
    
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 00px rgba(0,0,0,.5);
          box-shadow: inset 0 0 00px rgba(0,0,0,.5);
    
    
    
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


/* Padding for spacing */
.inner {

  margin-top: 4em;
  padding: 0.5em;

}
.lead {
    margin-top: -10%;
    font-size: 30px;
    color: #BB8600;
}



h1{
    font-size: 100px;
}

h2{
    font-size: 40px;
}

h3{
    padding: 0.1em;
    width: 8em;
    margin: 1em 0em;
    position: relative;
    display: inline-block;
}

.om_oss{
    background-color: black;
    position: relative;
    text-align: center;
    left: 0;
    height: 40em;
    width: 100%;
    padding: 1em;
    margin: 18em 0em 0em ;
}

.om_oss > h2{
    width: 15em;
    margin: 2em auto;
    border-bottom: solid 3px #BB8600;
}

.om_oss > p{
    font-size: 22px;
    width: 50em;
    margin: 2em auto;
}

.marken{
    margin-top: 31em;
    position: relative;
    left: 0;
    height: 60em;
    width: 100%;
    padding: 1em;
    
}

.marken > h2{
    width: 8em;
    margin: 0.3em auto;
    border-bottom: solid 3px #BB8600;
}

.kontakt{
    background-color: black;
    position: relative;
    left: 0;
    height: 40em;
    width: 100%;
    padding: 1em;
}

.kontakt_content{
    width: 97%
}

.kontakt > h2{
    width: 8em;
    margin: 0.3em auto;
    border-bottom: solid 3px #BB8600;
}

.method{
    font-size: 30px;
    width: 10em;
    margin: 2em 5em 0em 5em;
    border-bottom: solid 0.5px #BB8600;
    text-align: center;
}

.info{
    width: 25em;
}

.info:hover{
    color: white;
    cursor: default;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

.fade-in.one {
    -webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}


.fade-in.two {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.fade-in.three {
-webkit-animation-delay: 0.9s;
-moz-animation-delay:0.9s;
animation-delay: 0.9s;
}

.fade-in.four {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;
}

a{
    text-decoration: none;
}
1
2
3
4
5
6
7
8
9
10
11
12
/*BLUR*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    display: inline-block;
    
 
}

.blur img:hover {
  -webkit-filter: blur(3px);
    z-index: -30;
}

.linktext{
margin-bottom: -2em;
   
}
a:hover {
    text-decoration: none;
}